<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if eleventyExcludeFromCollections == true %}
    <meta name="robots" content="noindex">
    {% endif %}

    {% if title == "Max Ratmeyer's Site" %}
    <title>{{ renderData.title or title or metadata.title }}</title>
    {% else %}
    <title>{{ renderData.title or title or metadata.title }} - Max Ratmeyer's Site</title>
    {% endif %}
    <meta name="description" content="{{ renderData.description or description or metadata.description }}">

    <meta property="og:title" content="{{ renderData.title or title or metadata.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.maxratmeyer.com{{ page.url | url }}" />
    {% if layout == "post" %}
    {% set opengraphPath %}{{ (page.url.slice(0, -1) + '.png') }}{% endset %}
    <meta property="og:image" content="https://opengraph.maxnet.work{{ opengraphPath }}" />
    {% endif %}

    <link rel="preload" href="{{ config.path }}fonts/inter-v2-latin-400-600-700.woff2" as="font" type="font/woff2" crossorigin>

    {% if config.path !== "/assets/" %}
    <link rel="preconnect" href="{{ config.path }}" crossorigin>
    {% endif %}

    {% if config.analytics == "true" %}
    <link rel="preconnect" href="https://stats.maxnet.work" crossorigin>
    {% endif %}

    {% set css %}
    {% include "reset.css" %}
    {% include "style.css" %}
    {% endset %}
    
    <style>
        {{ css | cssmin | safe }}
    </style>

    <link rel="icon" type="image/png" sizes="64x64" href="{{ config.imagePath }}icons/profile-64x64.png">
    <link rel="icon" type="image/png" sizes="128x128" href="{{ config.imagePath }}icons/profile-128x128.png">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ config.imagePath }}icons/profile-192x192.png">

    <link rel="alternate" type="application/rss+xml" title="Max Ratmeyer's Blog" href="/feed.xml">

    <link rel="canonical" href="https://www.maxratmeyer.com{{ page.url | url }}">
    
</head>