/*
 * Font-Awesome-SVG-PNG (https://github.com/encharm/Font-Awesome-SVG-PNG)
 * Copyright (c) 2014 Code Charm Ltd.
 * Font Awesome split to individual SVG and PNG files of different sizes along with Node.JS based generator.
 * Licensed under MIT (https://github.com/encharm/Font-Awesome-SVG-PNG/blob/master/LICENSE)
 *
 * Heroicons (https://heroicons.com/)
 * Copyright (c) 2020 Refactoring UI Inc.
 * A set of free MIT-licensed high-quality SVG icons for UI development.
 * Licensed under MIT (https://github.com/tailwindlabs/heroicons/blob/master/LICENSE)
 */
