<nav>
  <button class="hamburger hamburger--slider" type="button">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>  
  <ul class="nav-list" id="overlay">
    <li class="nav-item"> 
      <a href="/" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
       <a href="/blog/" class="nav-link">Archives</a>
    </li>
    <li class="nav-item">
       <a href="/about/" class="nav-link">About</a>
    </li>
  </ul>
</nav>
<script>
  const hamburger = document.querySelector(".hamburger");
  let collapsed = true;

  hamburger.addEventListener("click", function() {
    hamburger.classList.toggle("is-active");

    if (!collapsed) {
      collapsed = true;
      document.getElementById("overlay").style.display = "none";
    } else {
      collapsed = false;
      document.getElementById("overlay").style.display = "block";
    }
  });
</script>