<div class="article-header">
    <div class="article-details">
        <p class="date">{{ (post.data.date or post.date or date) | dateformat }}</p>
        {% include "tags.njk" %}
    </div>
    {% if post.data.title %}
    <p class="article-title">
        <a class="article-title" href="{{ post.url | url }}">{{ post.data.title or title }}</a>
    </p>
    {% else %}
    <h1 class="article-title">{{ post.data.title or title }}</h1>
    {% endif %}
</div>