<div class="article-details" title="{{ (post.data.date or post.date or date) }}">
    <span class="date">{{ ((post.data.date or post.date or date) | dateformat).split(', ')[0] }}</span><span class="date date-separator">, </span><span class="date">{{ ((post.data.date or post.date or date) | dateformat).split(', ')[1] }}</span>
</div>