<div class="article-header">
    <div class="article-details">
        <span class="date">{{ (post.data.date or post.date or date) | dateformat }}</span>
        {% include "tags.njk" %}
    </div>
    {% if post.data.title %}
    <a class="article-title" href="{{ post.url | url }}">
        <span>{{ post.data.title or title }}</span>
    </a>
    {% else %}
    <h1 class="article-title">{{ post.data.title or title }}</h1>
    {% endif %}
</div>