<a class="profile-link" href="/about/">
    <div>
        <img class="profile-photo" src="https://static.maxratmeyer.com/profiles/max-200.jpg"/>
        <p class="profile-name">Max Ratmeyer</p>
    </div>
</a>