<div class="related-posts-container">
  {%- for post in collections.posts | reverse %}
  {% if loop.index0 < 4 %}
  <a class="related-post-title-link" href="{{ post.url | url }}">
    <div class="related-post-item">
      <p class="related-post-title">
        {{ post.data.title }}
      </p>
      <p class="related-post-description">{{ post.data.description }}</p>
    </div>
  </a>
  {% endif %}
  {%- endfor %}
</div>