/*
    Site Wide CSS
*/

body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

.content-container {
    padding: 2rem;
}

@media only screen and (min-width: 45em) {
    .content-container {
        margin: auto;
        width: 45em;
    }
}

@media only screen and (max-width: 600px) {
    .page-content {
        margin-top: 100px;
    }
}

/*
    Navbar
*/

.nav-list {
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: 50px;
    padding-bottom: 50px;
}

.nav-item {
    margin: 0 .5rem;
    font-size: 25px;
    padding-top: 30px;
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    color: #333333;
    font-weight: 600;
    padding-left: 1vw;
    padding-right: 1vw;
}

.nav-link:hover {
    opacity: 0.7;
}

.nav-button {
    display: none;
}

@media only screen and (max-width: 600px) {
    .nav-list {
        position: absolute;
        top: 10px;
        left: 8px;
        z-index: 2;
        background-color: white;
        flex-direction: column;
        border: none;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
        border-radius: 15px;
        padding: 30px;
        padding-top: 50px;
    }
    .nav-item {
      margin: 0;
    }
    .nav-button {
        display: block;
        position: absolute;
        z-index: 3;
        padding: 2vw;
        font-size: 3vh;
        border: none;
        outline: none;
        cursor: pointer;
        align-self: flex-start;
    }
    #overlay {
        display: none;
    }
}

.icon-bar {
	width: 22px; 
	height: 2px;
	background-color: #212121;
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}
 
.nav-button {
  border: none;
  background: transparent !important;
}

.nav-button .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
 
.nav-button .middle-bar {
  opacity: 0;
}
 
.nav-button .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
 
.nav-button.collapsed .top-bar {
  transform: rotate(0);
}
 
.nav-button.collapsed .middle-bar {
  opacity: 1;
}
 
.nav-button.collapsed .bottom-bar {
  transform: rotate(0);
}

/*
    Homepage
*/

.hero {
    margin: 20px 0px 20px 0px;
    font-size: 80px;
    text-align: center;
    font-weight: 700;
    color: #1c1c1c;
}

.posthero {
    margin: 20px 0px 20px 0px;
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    color: #292929;
}

.icons {
    margin: 40px 0px 20px 0px;
    text-align: center;
}

.icon {
    width: 50px;
    fill: #292929;
    margin: 0px 15px 0px 15px;
}

.icon:hover {
    opacity: 0.7;
}

.post-excerpt {
    margin: 0px 0px 40px 0px;
}

.post-excerpts {
    margin: 70px 0px 20px 0px;
}

.read-more {
    font-size: 20px;
    text-decoration: none;
    color: #292929;
    font-weight: bold;
}

.read-more:hover {
    text-decoration: underline;
}

.read-more-container {
    margin: 20px 0px 20px 0px;
    text-align: center;
}

.go-to-archives {
    font-size: 20px;
    text-decoration: none;
    color: #333333;
    font-weight: bold;
}

.go-to-archives-container {
    margin: 40px 0px 0px 0px;
    text-align: right;
}

.go-to-archives:hover {
    text-decoration: underline;
}

@media only screen and (min-width: 960px) {
    .hero-content {
        width: 100vw;
        position: relative;
        margin-left: calc(-50vw + 50%);
    }
}

@media only screen and (max-width: 960px) {
    .hero {
        text-align: center;
        font-size: 60px;
    }
}

/*
    Pages
*/

.page-title {
    font-size: 70px;
    margin: 20px 0px 10px 0px;
    font-weight: 700;
    text-decoration: none;
    color: #292929;
}

/*
    Archives Page
*/
.archive-item {
    margin: 0px 0px 20px 0px;
}

/*
    Articles
*/

.article-title {
    font-size: 50px;
    margin: 0px 0px 0px 0px;
    font-weight: 700;
    text-decoration: none;
    color: #292929;
    clear: both;
}

.article-title a:hover {
    opacity: 0.7;
}

.date {
    font-size: 25px;
    font-weight: 600;
    color: #333333;
    line-height: 50%;
    float: left;
}

.article-content p {
    margin: 10px 0px 10px 0px;
    font-size: 20px;
    line-height: 2;
    color: #383838;
}

.article-content a {
    color: #212121;
}

.article-content a:hover {
    opacity: 0.7;
}

.article-content h2 {
    font-size: 35px;
    font-weight: bold;
    margin-top: 50px;
    color: #333333;
}

.article-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 750px;
    margin-top: 7%;
    margin-bottom: 7%;
}

/*
    Related Articles
*/

.related-articles-header {
    font-size: 50px;
    font-weight: bold;
    color: #333333;
}

.related-articles-item {
    margin: 30px 0px 30px 0px;
}

.related-articles-link {
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: #333333;
}

.related-articles-description {
    font-size: 18px;
}

/*
    Tags
*/

.tag-list {
    margin-top: 20px;
}

.tag-container {
    display: flex;
    margin-bottom: 10px;
}

.tag {
    border-radius: 30px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #292929;
    margin-right: 10px;
}

.tag-link {
    text-decoration: none;
}

.tags {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    color: white;
    line-height: 20%;
}

@media only screen and (max-width: 520px) {
    .tag-container {
        clear: both;
    }
}

@media only screen and (min-width: 520px) {
    .tag {
        position: relative;
        top: 10px;
    }
    .tag-container {
        margin-left: 15px;
        float: left;
    }
}

/*
    Footer
*/
.footer {
    margin: 20px 0px 60px 0px;
    clear: both;
}

.footer p {
    font-size: 20px;
    text-align: center;
    color: #484848;
}

.footer-link {
    text-decoration: none;
    color: #484848;
}

.footer-link:hover {
    opacity: 0.7;
}

/*
    Fonts
*/
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
         url('{{ static.prefix }}fonts/inter-v2-latin-400-600-700.woff2') format('woff2'),
         url('{{ static.prefix }}fonts/inter-v2-latin-400-600-700.woff') format('woff');
}
  
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local(''),
         url('{{ static.prefix }}fonts/inter-v2-latin-400-600-700.woff2') format('woff2'),
         url('{{ static.prefix }}fonts/inter-v2-latin-400-600-700.woff') format('woff');
}
  
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local(''),
         url('{{ static.prefix }}fonts/inter-v2-latin-400-600-700.woff2') format('woff2'),
         url('{{ static.prefix }}fonts/inter-v2-latin-400-600-700.woff') format('woff');
}
  