/*
    Site Wide CSS
*/

body {
    font-family: 'Inter', sans-serif;
}

div.content-container {
    padding: 2rem;
}

@media only screen and (min-width: 45em) {
    div.content-container {
        margin: auto;
        width: 45em;
    }
}

@media only screen and (max-width: 500px) {
    .page-content {
        margin-top: 110px;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: white;
    }
    .nav-link {
        color: white !important;
    }
    .nav-button {
        background-color: #121212;
    }
    .title {
        color: white !important;
    }
    .page-title {
        color: white !important;
    }
    .link-title {
        color: white !important;
    }
    .hero {
        color: white !important;
    }
    .posthero {
        color: white !important;
    }
    .fa {
        color: white !important;
    }
    .footer p {
        color: white !important;
    }
    .footer-link {
        color: white !important;
    }
    .nav-list {
        background-color: #121212 !important;
    }
    .icon-bar {
        background-color: white !important;
    }
    .date {
        color: white !important;
    }
    .article p {
        color: white !important;
    }
    .article a {
        color: white !important;
    }
    .article h2 {
        color: white !important;
    }
    .read-more {
        color: white !important;
    }
    .go-to-archives {
        color: white !important;
    }
}

/*
    Navbar
*/

.nav-list {
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: 50px;
    padding-bottom: 50px;
}

.nav-item {
    margin: 0 .5rem;
    font-size: 25px;
    padding-top: 30px;
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    color: #333333;
    font-weight: 600;
    padding-left: 1vw;
    padding-right: 1vw;
}

.nav-link:hover {
    opacity: 0.7;
}

.nav-button {
    display: none;
}

@media only screen and (max-width: 500px) {
    .nav-list {
        position: absolute;
        top: 10px;
        left: 8px;
        z-index: 2;
        background-color: white;
        flex-direction: column;
        border: none;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
        border-radius: 15px;
        padding: 30px;
        padding-top: 50px;
    }
    .nav-item {
      margin: 0;
    }
    .nav-button {
        display: block;
        position: absolute;
        z-index: 3;
        
        padding: 2vw;
        font-size: 3vh;
        border: none;
        
        outline: none;
        
        cursor: pointer;

        align-self: flex-start;
    }
    #overlay {
        display: none;
    }
}

.icon-bar {
	width: 22px; 
	height: 2px;
	background-color: #212121;
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}
 
.nav-button {
  border: none;
  background: transparent !important;
}

.nav-button .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
 
.nav-button .middle-bar {
  opacity: 0;
}
 
.nav-button .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
 
.nav-button.collapsed .top-bar {
  transform: rotate(0);
}
 
.nav-button.collapsed .middle-bar {
  opacity: 1;
}
 
.nav-button.collapsed .bottom-bar {
  transform: rotate(0);
}

/*
    Homepage
*/

.hero-line {
    margin-top: 40px;
    justify-content: center;
}

.portrait {
    border-radius: 50%;
    width: 100px;
}

.hero {
    margin-top: 5px;
    font-size: 80px;
    font-weight: 700;
    color: #1c1c1c;
    margin-bottom: 20px;
}

.posthero {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: #292929;
    margin-top: 10px;
}

.socialIcons {
    text-align: center;
}

.icon-home {
    font-size: 50px;
    width: 70px;
    text-align: center;
    text-decoration: none !important;
    color: #292929;
}
  
.icon-home:hover {
    opacity: 0.7;
}

.main {
    margin-bottom: 60px;
}

.read-more {
    font-size: 20px;
    text-decoration: none;
    color: #292929;
    font-weight: bold;
}

.read-more-container {
    text-align: center;
}

.read-more:hover {
    text-decoration: underline;
}

.go-to-archives {
    font-size: 20px;
    text-decoration: none;
    color: #333333;
    font-weight: bold;
}

.go-to-archives-container {
    text-align: right;
    padding-top: 40px;
}

.go-to-archives:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 45em) {
    .hero {
        font-size: 60px;
    }
}

@media only screen and (min-width: 960px) {
    .hero-line {
        display: flex;
    }

    .hero {
        margin-left: 25px;
    }

    .main {
        width: 100vw;
        position: relative;
        margin-left: -50vw;
        left: 50%;
    }
}

@media only screen and (max-width: 960px) {
    .portrait {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .hero {
        text-align: center;
        margin-top: 20px;
    }
}

/*
    Pages
*/

.page-title {
    font-size: 70px;
    margin: 0;
    margin-top: 20px;
    font-weight: 700;
    text-decoration: none;
    color: #292929;
}

/*
    Articles
*/

.title {
    font-size: 50px;
    margin: 0;
    font-weight: 700;
    text-decoration: none;
    color: #292929;
    clear: both;
}

.title a:hover {
    opacity: 0.7;
}

.date {
    font-size: 25px;
    font-weight: 600;
    color: #333333;
    line-height: 50%;
    float: left;
}

.article p {
    font-size: 20px;
    line-height: 2;
    color: #383838;
}

.article a {
    color: #212121;
}

.article a:hover {
    opacity: 0.7;
}

.article h2 {
    font-size: 35px;
    font-weight: bold;
    margin-top: 50px;
    color: #333333;
}

.article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 750px;
    margin-top: 7%;
    margin-bottom: 7%;
}

.article-full-header {
    margin-top: 20px;
}

.article-preview-header {
    padding-top: 30px;
}

.article-archives-header {
    padding-bottom: 15px;
}

/*
    Related Articles
*/

.grid-post {
    border: none;
    margin: .5rem;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.link-title {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #333333;
}

.related-header {
    font-size: 35px;
    font-weight: 600;
}

@media only screen and (min-width: 700px) {
    .related-posts-container {
        display: grid;
        grid-template-columns: auto auto auto;
    }
}

@media only screen and (max-width: 700px) {
    .grid-post {
        padding-top: 1px;
        padding-bottom: 1px;
    }
}

/*
    Tags
*/

.tag-list {
    margin-top: 20px;
}

.tag-container {
    display: flex;
    margin-bottom: 10px;
}

.tag {
    border-radius: 30px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #292929;
    margin-right: 10px;
}

.tag-link {
    text-decoration: none;
}

.tags {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    color: white;
    line-height: 20%;
}

@media only screen and (max-width: 520px) {
    .tag-container {
        clear: both;
    }
}

@media only screen and (min-width: 520px) {
    .tag {
        position: relative;
        top: 10px;
    }
    .tag-container {
        margin-left: 15px;
        float: left;
    }
}

/*
    Footer
*/
div.footer {
    margin: auto;
    padding-bottom: 20px;
}

.footer p {
    font-size: 20px;
    text-align: center;
    color: #484848;
}

.footer-link {
    text-decoration: none;
    color: #484848;
}

.footer-link:hover {
    opacity: 0.7;
}

/*
    Fonts
*/
/* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('https://static.maxratmeyer.com/fonts/inter-v2-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('https://static.maxratmeyer.com/fonts/inter-v2-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-700 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('https://static.maxratmeyer.com/fonts/inter-v2-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('https://static.maxratmeyer.com/fonts/inter-v2-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-600 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: local(''),
        url('https://static.maxratmeyer.com/fonts/inter-v2-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('https://static.maxratmeyer.com/fonts/inter-v2-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}