/*
    Colors
*/
body.light-theme {
    --shade-1: #2D3638;
    --shade-2: #414A4C;
    --hero: #212526;
    --article-color: #202526;
    --tag-color: #f5f5f5;
    --background: white;
}

body.dark-theme {
    --shade-1: #e1e1e1;
    --shade-2: #e1e1e1;
    --hero: #e1e1e1;
    --article-color: #e1e1e1;
    --tag-color: #323232;
    --background: #191919;
}

/*
    Site Wide CSS
*/

body {
    font-family: 'Inter';
    text-rendering: optimizeLegibility;
    background-color: var(--background);
}

.page-content {
    color: var(--shade-2);
    font-size: 22px;
}

a {
    color: var(--shade-2);
}

a:hover {
    opacity: 0.8;
}

@media only screen and (max-width: 42em) {
    .content-container {
        padding: 1rem;
    }
    
    .page-content {
        margin-top: 3rem;
    }
}

@media only screen and (min-width: 42em) {
    .content-container {
        margin: auto;
        margin-top: 4rem;
        width: 42em;
    }

    .page-content {
        margin-top: 2rem;
    }
}

/*
    Navbar
*/

.nav-list {
    display: flex;
}

.nav-item {
    font-size: 24px;
    padding: 1.5rem;
}

.nav-link {
    color: var(--shade-2);
    font-weight: 600;
    text-decoration: none;
}

.nav-icon-item {
    margin-left: auto;
    order: 2;
}

.nav-icon {
    color: var(--shade-1);
    cursor: pointer;
    width: 25px;
}

@media only screen and (max-width: 42em) {
    .nav-item {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

/*
    Homepage
*/

.hero-content {
    display: flex;
}

.portrait {
    border-radius: 50%;
    width: 72px;
    height: 72px;
    flex: 1 1 auto;
}

.hero-text {
    flex: 1 1 auto;
}

.hero {
    color: var(--hero);
    font-size: 44px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    line-height: 120%;
}

.posthero {
    color: var(--shade-1);
    line-height: 150%;
    margin-bottom: 15px;
}

.subheader {
    color: var(--hero);
    font-size: 36px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    line-height: 120%;
}

.post-excerpts {
    margin-bottom: 40px;
}

.post-excerpt {
    display: flex;
    margin: 0px 0px 25px 0px;
}

.go-to-archives {
    margin: 40px 0px 0px 0px;
    text-align: right;
}

.go-to-archives a {
    font-size: 20px;
    color: var(--shade-2);
    text-decoration: none;
    font-weight: bold;
}

.go-to-archives a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 650px) {
    .hero-content {
        flex-direction: column;
    }
    .post-excerpt {
        flex-direction: column;
    }
    .subheader {
        margin-left: 0px !important;
    }
}

@media only screen and (max-width: 42em) {
    .posthero {
        font-size: 22px;
    }
    .portrait {
        margin-right: 1rem;
    }
    .subheader {
        margin-left: calc(72px + 1rem); /* 72px profile pic + 1rem border */
    }
}

@media only screen and (min-width: 42em) {
    .posthero {
        font-size: 24px;
    }
    .portrait {
        margin-right: 22px;
    }
    .subheader {
        margin-left: 94px; /* 72px profile pic + 22px border */
    }
}

/*
    Pages
*/

.page-title {
    color: var(--shade-1);
    font-size: 44px;
    margin: 0px 0px 20px 0px;
    font-weight: 700;
    line-height: 120%;
    text-decoration: none;
    overflow-wrap: break-word;
}

/*
    Archives Page
*/
/* .archive-item {
    margin-bottom: 20px;
} */

/*
    Articles
*/

.article-title {
    display: block;
    color: var(--shade-1);
    line-height: 120%;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 5px;
    text-decoration: none;
    clear: both;
}

.date {
    font-weight: 600;
    line-height: 120%;
    font-size: 20px;
    color: var(--shade-2);
}

.date-full {
    display: block;
    font-weight: 600;
    margin-bottom: 15px;
    color: var(--shade-2);
}

.article-description {
    line-height: 150%;
}

.article-details {
    margin-top: 2px; /* +2px */
}

.article-content p {
    margin: 10px 0px 10px 0px;
    line-height: 2;
}

.article-content h2 {
    color: var(--article-colo);
    font-size: 35px;
    line-height: 120%;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 10px;
}

.article-content h3 {
    color: var(--article-colo);
    font-size: 28px;
    line-height: 120%;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.article-content ul {
    list-style: disc inside;
}

.article-content li {
    line-height: 150%;
}

.article-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 700px;
    margin-top: 7%;
    margin-bottom: 7%;
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@media only screen and (max-width: 42em) {
    .article-details {
        margin-right: 1rem;
    }
    .date {
        margin-bottom: 7px;
    }
}

@media only screen and (min-width: 650px) {
    .article-details {
        margin-right: 22px;
        padding-top: 17px;
        width: 72px;
    }
    .date-separator {
        display: none;
    }
    .date {
        float: right;
        margin-bottom: 2px;
    }
}

/*
    Article Misc.
*/
.misc-button {
    display: inline-block;
    margin-top: 7.5px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.misc-container {
    display: flex;
    align-items: center;
}

.misc-icon {
    fill: var(--shade-1);
    width: 25px;
    height: 25px;
    padding-right: 10px;
}

.misc-link-text {
    display: block;
    color: var(--shade-2);
    font-weight: 600;
}

/*
    Related Posts
*/

.related-post-item {
    border: none;
    margin: .5rem;
    border-radius: 10px;
    padding: 1rem;
    height: 75%;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.related-post-title {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: var(--shade-2);
}

.related-post-title-link {
    text-decoration: none;
    color: var(--shade-2);
}

.related-post-description {
    line-height: 120%;
}

@media only screen and (min-width: 700px) {
    .related-posts-container {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 700px) {
    .related-post-item {
        margin-top: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

/*
    Tags
*/

.tag-list {
    margin-top: 20px;
    padding-bottom: 20px;
}

.tag-container {
    display: flex;
    margin-bottom: 5px;
}

.tag {
    border-radius: 30px;
    background-color: var(--tag-color);
    margin-right: 10px;
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    text-decoration: none;
}

.tag-s {
    padding: 12px 10px 12px 10px;
}

.tag-l {
    padding: 15px 12px 15px 12px;
}

.tag:hover {
    transform: translateY(-1px);
}

.tags {
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--article-color);
    line-height: 20%;
}

.tags-s {
    font-size: 14px;
}

.tags-l {
    font-size: 16px;
}

@media only screen and (max-width: 650px) {
    .tag-container {
        margin-top: 7px;
    }
}

@media only screen and (min-width: 650px) {
    .tag-container {
        margin-bottom: 8px;
    }
}

/*
    Footer
*/
.footer {
    margin: 25px 0px 50px 0px;
    clear: both;
}

.footer p {
    font-weight: 600;
    line-height: 150%;
    text-align: center;
    color: var(--shade-2);
}

.footer a {
    text-decoration: none;
}

@media only screen and (min-width: 960px) {
    .footer {
        margin-top: 60px;
    }
}

/*
    Fonts
*/
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
        url('{{ config.path }}fonts/inter-v2-latin-400-600-700.woff2') format('woff2'),
        url('{{ config.path }}fonts/inter-v2-latin-400-600-700.woff') format('woff');
}
  
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local(''),
        url('{{ config.path }}fonts/inter-v2-latin-400-600-700.woff2') format('woff2'),
        url('{{ config.path }}fonts/inter-v2-latin-400-600-700.woff') format('woff');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local(''),
        url('{{ config.path }}fonts/inter-v2-latin-400-600-700.woff2') format('woff2'),
        url('{{ config.path }}fonts/inter-v2-latin-400-600-700.woff') format('woff');
}
