---
title: Archives
layout: base
permalink: /blog/
description: Archives from Max Ratmeyer's Blog
---
<div class="article-header">
    <h1 class="page-title">{{ title }}</h1>
</div>

{%- for post in collections.posts | reverse -%}
    {% include "post-header.njk" %}
{%- endfor -%}
