---
title: Blog
layout: base
permalink: "/blog/"
description: All posts from my blog.
---
<div class="page-header">
    <h1 class="page-title">{{ title }}</h1>
</div>

{%- for post in collections.posts | reverse -%}
{% include "post-preview.njk" %}
{%- endfor -%}
