---
title: Max Ratmeyer's Site
layout: base
permalink: /
description: My personal site and blog with writeups on technical topics I find interesting.
---

<div class="hero-content">
    <img src="{{config.imagePath}}profiles/portrait-144x144-full.jpg" width="72" height="72" loading="lazy" class="portrait" alt="Portrait Headshot"/>
    <div class="hero-text">
        <h1 class="hero">Max Ratmeyer's Site</h1>
        <p class="posthero">Yo! I'm Max Ratmeyer and I'm an incoming computer science major at the <a target="_blank" rel="noopener" href="https://www.uga.edu/">University of Georgia</a>.</p>
        <p class="posthero">This blog contains writeups on various projects I do and technical topics I come across. I'm particularly interested in cybersecurity, internet privacy, and web development.</p>
        <p class="posthero">If you're interested in connecting with me, you can find me on <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/mratmeyer/">LinkedIn</a>, <a target="_blank" rel="noopener" href="https://github.com/mratmeyer/">GitHub</a> or <a href="mailto:hello@maxratmeyer.com">reach out via email</a>.</p>
    </div>
</div>

<h2 class="subheader">Latest blog posts:</h2>

<div class="post-excerpts">
    {%- for post in collections.posts | reverse -%}
    {% if loop.index0 < 3 %}    
    {% include "post-preview.njk" %}
    {% endif %}
    {%- endfor -%}
    
    <div class="go-to-archives">
        <a href="/blog/">Go to Archives ➔</a>
    </div>
</div>
