---
title: Max Ratmeyer's Blog
layout: base
permalink: /
description: A high schooler's perspective on technology.
---

<div class="hero-content">
    <img src="/assets/profiles/portrait-144x144-full.jpg" width="72" height="72" loading="lazy" class="portrait" alt="Portrait Headshot"/>
    <div class="hero-text">
        <h1 class="hero">Max Ratmeyer's Blog</h1>
        <p class="posthero">Yo! I'm Max Ratmeyer and I'm an incoming computer science major at the <a href="https://www.uga.edu/">University of Georgia</a>.</p>
        <p class="posthero">This blog contains writeups on various projects I do and technical topics I come across. I'm particularly interested in topics like cybersecurity, internet privacy, and web development.</p>
        <p class="posthero">If you're interested in connecting with me, you can find me on <a href="https://www.linkedin.com/in/mratmeyer/">LinkedIn</a>, <a href="https://github.com/mratmeyer/">GitHub</a> or <a href="mailto:hello@maxratmeyer.com">reach out via email</a>.</p>
    </div>
</div>
<div class="post-excerpts">
    {%- for post in collections.posts | reverse -%}
        {% if loop.index0 < 6 %}    
        <div class="post-excerpt">
            {% include "post-header.njk" %}
            <div class="article-content">
                {% excerpt post %}
            </div>
        </div>
        {% endif %}
    {%- endfor -%}
    <div class="go-to-archives">
        <a href="/blog/">Go to Archives ➔</a>
    </div>
</div>
