---
title: Max Ratmeyer's Blog
layout: base
permalink: index.html
description: A high schooler's perspective on technology.
---

<div class="main">
    <div class = "hero-line">
        <div class = "portrait-container">
            <img src="{{ static.prefix }}profiles/max-200.jpg" loading="lazy" class="portrait" alt="Max Ratmeyer"/>
        </div>
        <h1 class="hero">Max Ratmeyer's Blog</h1>
    </div>
    <p class="posthero">A high schooler's perspective on technology</p>

    <div class="socialIcons">
        <a href="https://www.linkedin.com/in/maxratmeyer" class="fa fa-linkedin icon-home"></a>
        <a href="https://github.com/maxratmeyer" class="fa fa-github icon-home"></a>
        <a href="/feed.xml" class="fa fa-rss icon-home"></a>
    </div>
</div>
<div class="row">
    {%- for post in collections.posts | reverse -%}
        {% if loop.index0 < 6 %}    
            <div class="article-header article-preview-header">
                <p class="date">{{ post.data.date | dateformat }}</p>
                <div class="tag-container">
                    {%- for tag in post.data.tags -%}
                        {% if (tag != "posts") %}    
                            <div class="tag">
                                <a class="tag-link" href="/tags/{{ tag }}">
                                    <p class="tags">{{ tag }}</p>
                                </a>
                            </div>
                        {% endif %}
                    {%- endfor -%}
                </div>
                <p class="title">
                    <a class="title" href="{{ post.url | url }}">{{ post.data.title }}</a>
                </p>
            </div>
            <div class="article article-preview">
                {% excerpt post %}
            </div>
            <div class="read-more-container">
                <a class="read-more" href="{{ post.url | url }}">Read More ➔</a>
            </div>
        {% endif %}
    {%- endfor -%}
    <div class="go-to-archives-container">
        <a class="go-to-archives" href="/blog/">Go to Archives ➔</a>
    </div>
 </div>