---
title: Tags
layout: base
permalink: /tags/
description: Post Tags
---
<h1 class="title">Tags</h1>
<div class="tag-list">
  {%- for tag in collections.tags | reverse -%}
    <div class="tag-container">
      <div class="tag">
        <a class="tag-link" href="/tags/{{ tag }}">
          <p class="tags">{{ tag }}</p>
        </a>
      </div>
    </div>
  {%- endfor -%}
</div>
