---
title: Tags
layout: base
permalink: /tags/
description: Post Tags
---
<h1 class="page-title">Tags</h1>
<div class="tag-list">
  <div class="tag-container">
    {%- for tag in collections.tags | reverse -%}
      {% include "tag.njk" %}
    {%- endfor -%}
  </div>
</div>
