---
permalink: /api/posts.json
eleventyExcludeFromCollections: true
---
{"posts" : [
  {%- for post in collections.posts -%}
  {
    "url" : "{{ post.url }}",
    "title" : "{{ post.data.title }}",
    "date" : "{{ post.data.date }}",
    "tags" : "{{ post.data.tags }}",
    "text" : "{{ post.templateContent | stripHTML }}"
  }{% if not loop.last %},{% else %}{%- endif -%}
  {%- endfor -%}
]}