---
pagination:
  data: collections.posts
  size: 1
  alias: post
permalink: /api/{{ post.url }}metadata.json
eleventyExcludeFromCollections: true
---
{
  "title": "{{ post.data.title }}",
  "description": "{{ post.data.description }}",
  "date": "{{ post.data.date | dateformat }}",
  "tags": "{{ post.data.tags }}"
}
