---
pagination:
  data: collections.posts
  size: 1
  alias: post
permalink: /api/{{ post.url }}metadata.json
eleventyExcludeFromCollections: true
---
{
  "title": "{{ post.data.title }}",
  "description": "{{ post.data.description }}",
  "date": "{{ post.data.date | slashed }}",
  "tags": ["{%- for tag in post.data.tags %}{% if (tag != "posts") %}{{ tag }}{% if (post.data.tags.length - 1 !== post.data.tags.indexOf(tag)) %},{% endif %}{% endif %}{%- endfor %}"]
}
