<!DOCTYPE html>
<html lang="en">

{% include "header.njk" %}

<body class="light-theme">

  {% set js %}
    {% include "theme.js" %}
  {% endset %}

  <script>
    {{ js | jsmin | safe }}
  </script>

  {% if config.analytics == "true" %}
  <noscript><img src="https://stats.maxnet.work/ingress/497b5ef0-995e-403e-b57b-e93569d61e0e/pixel.gif"></noscript> <script src="https://stats.maxnet.work/ingress/497b5ef0-995e-403e-b57b-e93569d61e0e/script.js"></script>
  {% endif %}

  <div class="page-container">

    <div class="content-container">

      {% include "nav.njk" %}

      <div class="page-content">
      {{ content | safe }}
      </div>
      
    </div>

    {% include "footer.njk" %}

  </div>

</body>

</html>
