<!DOCTYPE html>
<html lang="en">

{% include "header.njk" %}

<body>

  <noscript><img src="https://stats.maxnet.work/ingress/753b2504-3c73-489e-9d7a-8f3fad2ceb43/pixel.gif"></noscript> <script src="https://stats.maxnet.work/ingress/753b2504-3c73-489e-9d7a-8f3fad2ceb43/script.js"></script>

  <div class="page-container">

    <div class="content-container">

      {% include "nav.njk" %}

      <div class="page-content">

        {{ content | safe }}
        
      </div>
      
    </div>

    {% include "footer.njk" %}

  </div>

</body>

</html>
