---
layout: base
---
<div class="article-header article-full-header">
    <p class="date">{{ page.date | dateformat }}</p>
    <div class="tag-container">
        {%- for tag in tags -%}
            {% if (tag != "posts") %}    
                <div class="tag">
                    <a class="tag-link" href="/tags/{{ tag }}">
                        <p class="tags">{{ tag }}</p>
                    </a>
                </div>
            {% endif %}
        {%- endfor -%}
    </div>
    <p class="title">{{ title }}</p>
</div>

<div class="article article-full">
    {{ content | safe }}
</div>

<div class ="related-articles">
    <p class="related-header">Check out my latest posts</p>
    <div class="related-posts-container">
        {%- for post in collections.posts | reverse %}
            {% if loop.index0 < 5 %}
                <div class="grid-post">
                    <p class="archive-item">
                        <a class="link-title" href="{{ post.url | url }}">
                            {{ post.data.title }}
                        </a>
                    </p>
                    <p>{{ post.data.description }}</p>
                </div>
            {% endif %}
        {%- endfor %}
    </div>
</div>