---
layout: base
---
<div class="article-header article-full-header">
    <p class="date">{{ page.date | dateformat }}</p>
    <div class="tag-container">
        {%- for tag in tags -%}
            {% if (tag != "posts") %}    
                <div class="tag">
                    <a class="tag-link" href="/tags/{{ tag }}">
                        <p class="tags">{{ tag }}</p>
                    </a>
                </div>
            {% endif %}
        {%- endfor -%}
    </div>
    <h1 class="title">{{ title }}</h1>
</div>

<div class="article article-full">
    {{ content | safe }}
</div>

{% include "related-articles.njk" %}