---
layout: base
---
<div class="article-header">
    <p class="date">{{ page.date | dateformat }}</p>
    {% include "post-tags.njk" %}
    <h1 class="title">{{ title }}</h1>
</div>

<div class="article-content">
    {{ content | safe }}
</div>

{% include "related-articles.njk" %}